
<form [formGroup]="userForm" (ngSubmit)="updateUserProfile()">

 <div class="text-left">
   <label>name</label>
 </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="userForm" id="exampleInputName"
    placeholder="name" value="{{user.name}}">
  </div>
  <div class="text-left">
    <label>acreage</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="userForm" id="exampleInputAcreage"
           placeholder="acreage" value="{{user.acreage}}">
  </div>
  <div class="text-left">
    <label>population</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="userForm" id="exampleInputPopulation"
           placeholder="population" value="{{user.population}}">
  </div>
  <div class="text-left">
    <label>gdp</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="userForm" id="exampleInputGdp"
           placeholder="gdp" value="{{user.gdp}}">
  </div>
  <div class="text-left">
    <label>description</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="userForm" id="exampleInputDescription"
           placeholder="description" value="{{user.description}}">
  </div>
</form>

