
<form [formGroup]="userForm" (ngSubmit)="updateUserProfile()">

 <div class="text-left">
   <label>name</label>
 </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="id" id="exampleInputId"
           placeholder="name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="name" id="exampleInputName"
    placeholder="name">
  </div>
  <div class="text-left">
    <label>acreage</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="acreage" id="exampleInputAcreage"
           placeholder="acreage">
  </div>
  <div class="text-left">
    <label>population</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="population" id="exampleInputPopulation"
           placeholder="population">
  </div>
  <div class="text-left">
    <label>gdp</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="gdp" id="exampleInputGdp"
           placeholder="gdp">
  </div>
  <div class="text-left">
    <label>description</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="description" id="exampleInputDescription"
           placeholder="description">
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit" >Submit Application</button>
  </div>
  <button (click)="delete()">xoa</button>
</form>

