<div *ngFor="let pro of listStudent">
  <h1>{{pro.name}} tuổi {{pro.age}}</h1>
</div>
<form [formGroup]="formGroup" (ngSubmit)="callingFunction()">

  <label>
    id:
    <input type="text" formControlName="id">
  </label>
  <label>
    name:
    <input type="text" class="form-control"
           formControlName="name">
  </label>
  <div class="col alert alert-danger" role="alert"
       *ngIf="formGroup.controls['age'].errors?.['required']
         ">
    ten ko ddeer trong
  </div>
  <label>
    age:
    <input type="text" class="form-control"
           formControlName="age">
  </label>
  <div class="col alert alert-danger" role="alert"
       *ngIf="formGroup.controls['age'].errors?.['required']
         && formGroup.controls['age'].touched">
    Age is required!
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit" [disabled]="!formGroup.valid">Submit Application</button>
  </div>

</form>
